<header>
  <nav>
    <h1>Grocery Store</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/search">Search</a></li>
      <!-- <li><a href="">Shopping List</a></li> -->
      <li><a href="/stores">Stores</a></li>
      <!-- <li><a href="">Logout</a></li> -->
    </ul>
  </nav>
</header>
