<h1>Stores:</h1>
<table border="1">
  <tr>
    <th>StoreID</th>
    <th>City</th>
    <th>State</th>
  </tr>
  <% data.forEach(entry => { %>
  <tr>
    <td><%= entry.storeid %></td>
    <td><%= entry.city %></td>
    <td><%= entry.state %></td>
  </tr>
  <% }) %>
</table>
